CREATE TABLE \	ms_form_data\ ( \id\ varchar(255) NOT NULL, \	ms_id\ varchar(255) DEFAULT NULL, \	able_rows\ json DEFAULT NULL, \input_data\ json DEFAULT NULL, \created_at\ datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3), \updated_at\ datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3) ON UPDATE CURRENT_TIMESTAMP(3), PRIMARY KEY (\id\) ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
